<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar película</title>
</head>

<body>

    <h1>AGREGAR PELICULAS</h1>
    
    {% if miFormulario.errors %}

        <p class="error"> Error en el formulario</p>
        
    {% endif %}

    <form action="" method="POST">{% csrf_token %}

        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit" value="Guardar">

    </form>

</body>
</html>