{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}


    <h2 class="titulos">CARTELERA</h2>
    
    <ul>

        {% for pelicula in lista_peliculas %}

            <li>Título: {{pelicula.titulo}} - Género: {{pelicula.genero}} - Duración: {{pelicula.duracion}} mins. - Clasificación: {{pelicula.clasificacion}}- Idiomas: {{pelicula.idiomas}}</li>

        {% endfor %}

    </ul>    


    <a href="{% url 'agregar_pelicula' %}" class="linkAgregar">Agregar una película</a>

{% endblock %}