{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}


    <h2 class="titulos">CARTELERA</h2>

    <a href="{% url 'buscar_peli' %}" class="linkAgregar">Buscar películas</a>
    
    <ul>


        {% for pelicula in lista_peliculas %}

            <section class="card-cartelera">
                <li><span class="bold">{{pelicula.titulo}}:</span> - Género: {{pelicula.genero}} - Duración: {{pelicula.duracion}} mins. - Clasificación: {{pelicula.clasificacion}}- Idiomas: {{pelicula.idiomas}}</li>
            </section>

        {% endfor %}

    </ul>    


    <a href="{% url 'agregar_pelicula' %}" class="linkAgregar">Agregar una película</a>

{% endblock %}