{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}


    <h2 class="titulos">COMBOS</h2>
    

        {% for combo in lista_combos %}

            <section class="card-combos">

                <p><span class="nombre-combo">{{combo.nombre}} <br> </span>  {{combo.descripcion}} <br> <span class="precio-combo">${{combo.precio}}</span></p>

            </section>

        {% endfor %}



    <a href="{% url 'agregar_combo' %}" class="linkAgregar">Agregar un combo</a>
    

{% endblock %}