<!DOCTYPE html>
<html lang="en">
<head>
    
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="{% static 'css/padre.css' %}"  rel="stylesheet" >

</head>


<body>

    <header>

        <h1>Proyecto Final - entrega intermedia</h1>
        <a href="#">INICIO</a>
        <a href="{% url 'cartelera' %}">CARTELERA</a>
        <a href="{% url 'combos' %}">COMBOS</a>
        <a href="#">SALAS</a>
        <a href="#">SUCURSALES</a>

    </header>

    
    <article>

        {% block contenidoQueCambia %}
            
        {% endblock  %}

    </article>

    <footer>
        <section>
            <p>Arias Valentina</p>
            <p>Coronel Vanesa</p>
            <p>Cristina Pablo Victor</p>
        </section>


        <a href="https://plataforma.coderhouse.com/cursos/34630/python/companeros" target="_blank">Contacto</a>

    </footer>

</body>
</html>