{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}


    <h2 class="titulos">NUESTRAS SALAS</h2>
    

            {% for sala in lista_salas %}
            
                <section class="salas-card">

                    <p><span class="titulo-sala">{{sala.nombre}}:</span> <br> {{sala.descripcion}}</p>

                </section>

                
            {% endfor %}


    <a href="{% url 'agregar_sala' %}" class="linkAgregar">Agregar una sala</a>

{% endblock %}