html{
    font-family: 'Montserrat', sans-serif;
}


body{
    margin: 0px;
    background-color: #efefef;
    min-height: 100vh;
    display:flex; 
    flex-direction:column;
}



/* ----------------HEADER--------------------*/


header{
    background-color: #C21E56;
    color: white;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}


header a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin: 5rem;
}


header a:hover{
    color: cornflowerblue;
}



/* ----------------ARTICLE--------------------*/


article{
    font-size: 1.2rem;
    margin-left: 2rem; 
    text-align: center;
    flex:1;
}


article ul{
    padding-left: 0;
    line-height: 3rem;
    margin-bottom: 3.5rem;

}


article table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}




article th, td{
    font-size: 2rem;
    font-weight:500;
    padding: 1rem;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.salas-card{
    margin: 25px;
    padding: 1.5rem;
    width: 400px;
    height: auto;
    background-color: #ffffff;
    border-radius: 25px;
    line-height: 2rem;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
    display: inline-block;
}


.precio-combo{
    font-weight: 600;
}



.titulo-sala{
    font-weight: 700;
    font-size: 25px;
}


.textarea-sala{
    background-color: #ffffff;
    border-radius: 15px;
    width: 750px;
    height: 400px;
    resize: both;
    border: 1px solid #5c5c5c;
    font-size: 20px;
}


.card-cartelera{
    padding: 1rem 1.5rem;
    width: fit-content;
    height: auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
    margin: 20px auto;
    list-style-type: none;
}


.card-combos{
    padding: 0.3rem 0.7rem;
    width: auto;
    height: auto;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 25px;
    line-height: 2rem;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
    display: inline-block;
    margin: 10px;
}


.nombre-combo{
    font-weight: 700;
    font-size: 25px;
}



.bold{
    font-weight: 800;
}


.guardar{
    width: 150px;
    height: 50px;
    font-size: 25px;
    padding:5px 15px; 
    background: #C21E56; 
    color: #fff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


.titulos{
    font-size: 2.5rem;
    text-align: center;
}


.linkAgregar{
    font-size: 1rem;
    padding: 1rem;
    background-color: #C21E56;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
    width:fit-content;

}


.linkAgregar:hover{
    color: cornflowerblue;
}



/* ----------------FOOTER--------------------*/


footer{
    background-color: #2f3030;
    border-top: 10px #C21E56  solid;
    color: #fff;
    padding: 0.7rem 0rem;
    margin-top: 8rem;
    text-align: center;
    width: 100%;
    min-height: 100px;
}



footer a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}


footer a:hover{
    color: cornflowerblue;
}


.footer-creditos{
    margin: 0;
    display: inline-block;
    width: 10%;
}

.footer-contacto{
    margin: 0;
    display: inline-block;
    width: 10%;
    vertical-align: 160%;
}